.App {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-feedsList {
    padding: 0;
    margin: 16px 0 0;
}

.App-postContainer {
    margin-top: 16px;
}

.App-feedsListItem:not(:last-child) {
    margin-bottom: 8px;
}

.App-dayInput-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
